/body.tex
/cao-digested.csv
/figure/fig-s1-tdna-dist-1.eps
/figure/fig-s1-tdna-dist-1.pdf
/figure/fig-s1-tdna-dist-1.png
/figure/fig-s2-TDNA-ratio-plot-1.eps
/figure/fig-s2-TDNA-ratio-plot-1.pdf
/figure/fig-s2-TDNA-ratio-plot-1.png
/figure/fig-s3-fitness-components-1.eps
/figure/fig-s3-fitness-components-1.pdf
/figure/fig-s3-fitness-components-1.png
/figure/fig-s4-1.eps
/figure/fig-s4-1.pdf
/figure/fig-s4-1.png
/figure/fig1-compare-to-control-1.pdf
/figure/fig1-compare-to-control-1.png
/figure/fig2-gene-fam-vs-fitdev-1.eps
/figure/fig2-gene-fam-vs-fitdev-1.pdf
/figure/fig2-gene-fam-vs-fitdev-1.png
/figure/fig3-reaction-norm1-fit-1.eps
/figure/fig3-reaction-norm1-fit-1.pdf
/figure/fig3-reaction-norm1-fit-1.png
/figure/fitmads-1.eps
/figure/fitmads-1.pdf
/figure/fitmads-1.png
/figure/fitmads2-1.eps
/figure/fitmads2-1.pdf
/figure/fitmads2-1.png
/figure/fitmads2-2.eps
/figure/fitmads2-2.pdf
/figure/fitmads2-2.png
/figure/hilotest-1.pdf
/figure/hilotest-1.png
/paper1-analysis-figures.aux
/paper1-analysis-figures.log
/paper1-analysis-figures.out
/redundancy-tables-figs/README.md~
