/body.tex
/cao-digested.csv
/figure/fig-s1-tdna-dist-1.eps
/figure/fig-s1-tdna-dist-1.pdf
/figure/fig-s1-tdna-dist-1.png
/figure/fig-s2-TDNA-ratio-plot-1.eps
/figure/fig-s2-TDNA-ratio-plot-1.pdf
/figure/fig-s2-TDNA-ratio-plot-1.png
/figure/fig-s3-fitness-components-1.eps
/figure/fig-s3-fitness-components-1.pdf
/figure/fig-s3-fitness-components-1.png
/figure/fig-s4-1.eps
/figure/fig-s4-1.pdf
/figure/fig-s4-1.png
/figure/fig1-compare-to-control-1.pdf
/figure/fig1-compare-to-control-1.png
/figure/fig2-gene-fam-vs-fitdev-1.eps
/figure/fig2-gene-fam-vs-fitdev-1.pdf
/figure/fig2-gene-fam-vs-fitdev-1.png
/figure/fig3-reaction-norm1-fit-1.eps
/figure/fig3-reaction-norm1-fit-1.pdf
/figure/fig3-reaction-norm1-fit-1.png
/figure/fitmads-1.eps
/figure/fitmads-1.pdf
/figure/fitmads-1.png
/figure/fitmads2-1.eps
/figure/fitmads2-1.pdf
/figure/fitmads2-1.png
/figure/fitmads2-2.eps
/figure/fitmads2-2.pdf
/figure/fitmads2-2.png
/figure/hilotest-1.pdf
/figure/hilotest-1.png
/paper1-analysis-figures.aux
/paper1-analysis-figures.log
/paper1-analysis-figures.out
/redundancy-tables-figs/README.md~
/figure/germ-vs-fam-1.eps
/figure/germ-vs-fam-1.pdf
/figure/germ-vs-fam-1.png
/redundancy-tables-figs/tbl1-genefams.html
/redundancy-tables-figs/tbls1-salk-lines.html
/.Rhistory
/body.R
/cache/__packages
/cache/calc.gls_78f734d418ee6cd13b4733951d677fd2.RData
/cache/calc.gls_78f734d418ee6cd13b4733951d677fd2.rdb
/cache/calc.gls_78f734d418ee6cd13b4733951d677fd2.rdx
/cache/fig1-compare-to-control_943c85b5447d7b6f0f2fa6f0e20d4471.RData
/cache/fig1-compare-to-control_943c85b5447d7b6f0f2fa6f0e20d4471.rdb
/cache/fig1-compare-to-control_943c85b5447d7b6f0f2fa6f0e20d4471.rdx
/cache/unnamed-chunk-4_cc3d2af38d515ccb10398db1e7b331df.RData
/cache/unnamed-chunk-4_cc3d2af38d515ccb10398db1e7b331df.rdb
/cache/unnamed-chunk-4_cc3d2af38d515ccb10398db1e7b331df.rdx
/cache/unnamed-chunk-5_59b7fb13a46f775375016ae00754b897.RData
/cache/unnamed-chunk-5_59b7fb13a46f775375016ae00754b897.rdb
/cache/unnamed-chunk-5_59b7fb13a46f775375016ae00754b897.rdx
/cache/unnamed-chunk-6_9bdb2fde76df21585f24b60dde6ffd39.RData
/cache/unnamed-chunk-6_9bdb2fde76df21585f24b60dde6ffd39.rdb
/cache/unnamed-chunk-6_9bdb2fde76df21585f24b60dde6ffd39.rdx
/figure/bad_resid-1.pdf
/figure/bad_resid-1.png
/figure/contrast-comps-1.pdf
/figure/germ-vs-fam-size-1.pdf
/figure/germ-vs-fam-size-1.png
/figure/sample_fitness-1.pdf
/figure/sample_fitness-1.png
/figure/stand_resid-1.pdf
/figure/stand_resid-1.png
/figure/surv_abort-1.pdf
/figure/surv_abort-1.png
/figure/surv_fruit-1.pdf
/figure/surv_fruit-1.png
/figure/unnamed-chunk-4-1.pdf
/figure/unnamed-chunk-5-1.pdf
/figure/var_mean-1.pdf
/figure/var_mean-1.png
/.#body.Rnw
/.RData
/cache/calc.gls_80d0398bdf25d05c5f6de3b6657592bb.RData
/cache/calc.gls_80d0398bdf25d05c5f6de3b6657592bb.rdb
/cache/calc.gls_80d0398bdf25d05c5f6de3b6657592bb.rdx
/cache/unnamed-chunk-7_e78db771ef9f4f53e9582c01b541521a.RData
/cache/unnamed-chunk-7_e78db771ef9f4f53e9582c01b541521a.rdb
/cache/unnamed-chunk-7_e78db771ef9f4f53e9582c01b541521a.rdx
/figure/compare-data-with-zeros-1.pdf
/figure/compare-data-with-zeros-1.png
/figure/power-above-1.pdf
/figure/power-above-1.png
/figure/power-below-1.pdf
/figure/power-below-1.png
/figure/power-figs-1.pdf
/figure/power-figs-1.png
/figure/power-figs-2.pdf
/figure/power-figs-2.png
/figure/splom-fitness-traits-1.pdf
/figure/splom-fitness-traits-1.png
/figure/unnamed-chunk-8-1.pdf
/figure/zero-cnt-hist-1.pdf
/figure/zero-cnt-hist-1.png
/figure/zero-resid-1.pdf
/figure/zero-resid-1.png
/figure/zero-zero-hist-1.pdf
/powercalcs/.#body.Rnw
/powercalcs/Makefile
/powercalcs/body.tex
/powercalcs/figure/line-means-hist-1.pdf
/powercalcs/figure/line-means-hist-1.png
/powercalcs/figure/line-means-hist-weibull-1.pdf
/powercalcs/figure/line-means-hist-weibull-1.png
/powercalcs/figure/mean_sd_plots-1.pdf
/powercalcs/figure/mean_sd_plots-1.png
/powercalcs/figure/mean_sd_plots_log-1.pdf
/powercalcs/figure/mean_sd_plots_log-1.png
/powercalcs/figure/phenotypes-detected-1.pdf
/powercalcs/figure/phenotypes-detected-1.png
/powercalcs/figure/phenotypes-detected-2.pdf
/powercalcs/figure/phenotypes-detected-2.png
/powercalcs/figure/phenotypes-detected-3.pdf
/powercalcs/figure/phenotypes-detected-3.png
/powercalcs/figure/phenotypes-detected-4.pdf
/powercalcs/figure/phenotypes-detected-4.png
/powercalcs/figure/phenotypes-detected-5.pdf
/powercalcs/figure/phenotypes-detected-5.png
/powercalcs/figure/phenotypes-detected-6.pdf
/powercalcs/figure/phenotypes-detected-6.png
/powercalcs/figure/phenotypes-detected-7.pdf
/powercalcs/figure/phenotypes-detected-7.png
/powercalcs/figure/phenotypes-detected-8.pdf
/powercalcs/figure/phenotypes-detected-8.png
/powercalcs/figure/phenotypes-detected-diff-1.pdf
/powercalcs/figure/phenotypes-detected-diff-1.png
/powercalcs/figure/phenotypes-detected-diff-2.pdf
/powercalcs/figure/phenotypes-detected-diff-2.png
/powercalcs/figure/phenotypes-detected-diff-3.pdf
/powercalcs/figure/phenotypes-detected-diff-3.png
/powercalcs/figure/phenotypes-detected-diff-4.pdf
/powercalcs/figure/phenotypes-detected-diff-4.png
/powercalcs/figure/phenotypes-detected-diff-5.pdf
/powercalcs/figure/phenotypes-detected-diff-5.png
/powercalcs/figure/phenotypes-detected-diff-6.pdf
/powercalcs/figure/phenotypes-detected-diff-6.png
/powercalcs/figure/phenotypes-detected-diff-7.pdf
/powercalcs/figure/phenotypes-detected-diff-7.png
/powercalcs/figure/phenotypes-detected-diff-8.pdf
/powercalcs/figure/phenotypes-detected-diff-8.png
/powercalcs/powercalcs.aux
/powercalcs/powercalcs.bbl
/powercalcs/powercalcs.log
/powercalcs/powercalcs.out
/powercalcs/powercalcs.pdf
/tmp.csv
/zero-inf.csv
